<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            defaultDisplayName="JFire Server Side Script Driver"
            driverClass="org.nightlabs.jfire.reporting.oda.client.wrapper.ClientJFSDriverWrapper"
            id="org.nightlabs.jfire.reporting.oda.jfs.JFSDriver"
            odaVersion="3.0"
            setThreadContextClassLoader="false">
      </dataSource>
      <dataSet
            defaultDisplayName="Server Side JFire Script Data Set"            
            id="org.nightlabs.jfire.reporting.oda.jfs.JFSDataSet">
         <dataTypeMapping
               nativeDataType="String"
               nativeDataTypeCode="1"
               odaScalarDataType="String"/>
         <dataTypeMapping
               nativeDataType="Integer"
               nativeDataTypeCode="2"
               odaScalarDataType="Integer"/>
         <dataTypeMapping
               nativeDataType="Double"
               nativeDataTypeCode="3"
               odaScalarDataType="Double"/>
         <dataTypeMapping
               nativeDataType="Boolean"
               nativeDataTypeCode="4"
               odaScalarDataType="Boolean"/>
         <dataTypeMapping
               nativeDataType="Date"
               nativeDataTypeCode="5"
               odaScalarDataType="Date"/>
         <dataTypeMapping
               nativeDataType="Blob"
               nativeDataTypeCode="9"
               odaScalarDataType="Blob"/>
         <dataTypeMapping
               nativeDataType="Time"
               nativeDataTypeCode="92"
               odaScalarDataType="Time"/>
         <dataTypeMapping
               nativeDataType="Timestamp"
               nativeDataTypeCode="93"
               odaScalarDataType="Timestamp"/>
         <dataTypeMapping
               nativeDataType="BigDecimal(Long)"
               nativeDataTypeCode="6"
               odaScalarDataType="Decimal"/>
<!--         <dataTypeMapping
               nativeDataType="JavaObject"
               nativeDataTypeCode="2000"
               odaScalarDataType="Any"/> -->
      </dataSet>
    </extension>
</plugin>
